header {
    background-color: #000807;
    color: #FBF9FF;
    margin-bottom: 20px;
    padding-left: 10px;
}

header h1 {
    font-weight: bold;
}

body {
    background-color: #A2A3BB;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: #FBF9FF;
    padding: 16px;
    width: 600px;
}


.user-info h2:hover {
    color: #8D6B94;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}
.photo img {
    border-radius: 30px;
}